.footerSection {
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height:1;
    margin:0;
}

.footerRow {
    display: flex;
    justify-content: center;
    gap: 20px;   
    margin: 0;    
}
h4 {
    margin: 0;
    padding: 0;
}

.footerItem {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin:0;
}

.footerIcon {
    font-size: 18px;
}

.footerCompany {
    font-size: 20px;
    font-weight: 600;
    color: #4A8D97;
    margin: 0;    
}



@media (max-width: 600px) {
    .footerSection {
        font-size: 14px;
    }

    .footerCompany {
        font-size: 18px;
    }
}
